# Local Development Port
PORT=3000

# Backend API URL (for Production Deployment)
# Example: https://airvintage-backend.onrender.com
REACT_APP_API_URL="http://127.0.0.1:8000"

# Optional: WAQI Token for the "Global AQI" Map Overlay
# Get a free token at https://aqicn.org/data-platform/token/
REACT_APP_WAQI_TOKEN="your_waqi_token_here"
